div.content h1{
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
}
div.content a{
	padding: 20px 30px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	box-shadow: none;
	align-items: center;
	margin: 70px 0px 70px 11px;
	top: 50px;
	position: relative;
	text-align: center;
	background-color: #ccc;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
}

